# yaml-language-server: $schema=https://json.schemastore.org/prometheus.json

# A scrape configuration for running Prometheus on a Docker Swarm cluster.
# This uses separate scrape configs for cluster components (i.e. nodes, services, tasks).
# 
# Keep at most 50 sets of details of targets dropped by relabeling.
# This information is used to display in the UI for troubleshooting.
global:
  scrape_interval: '10s'
  scrape_timeout: '5s'
  evaluation_interval: '1m'
  # keep_dropped_targets: 50

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    node_id: '{{ env "DOCKERSWARM_NODE_ID" }}'
    node_hostname: '{{ env "DOCKERSWARM_NODE_HOSTNAME" }}'

# ====================================================
# Scrape configuration
# ====================================================

# ====================================================
# Scrape configuration
# ====================================================

# Load scrape configs from this directory.
scrape_config_files:
  - "/etc/prometheus/scrape-configs/*"
